<h2>Listado de Contactos</h2>

<div>

	<div>
		<input type="text" name="buscador" ng-model="search"/>
	</div>

	<a ng-href="#/new">Nuevo</a>

	<div>Buscando: {{search}}</div>

	<table>
		<tr>
			<th>Nombre</th>
			<th>Fono</th>
		</tr>
		<tr ng-repeat="contact in contacts|filter:search">
			<td>{{contact.nombre}}</td>
			<td>{{contact.fono}}</td>
		</tr>
	</table>

</div>

