<h2>Nuevo Contacto</h2>

<div>
    <form name="newContactForm">
        <div>
            <label for="nombre">Nombre</label>
            <input id="nombre" name="nombre" ng-model="contacto.nombre" type="text" ng-required="true">
            <div ng-messages="newContactForm.nombre.$error" ng-if="newContactForm.nombre.$invalid && newContactForm.telefono.$valid">
                <div ng-message="required">Este campo no puede estar vacio</div>
            </div>
        </div>
        <div>
            <label for="telefono">Teléfono</label>
            <input id="telefono" name="telefono" ng-model="contacto.fono" type="text" ng-required="true">
        </div>
        <button ng-disabled="newContactForm.$invalid" ng-click="guardarContacto()">Guardar</button>
    </form>
</div>
